<div class="container">
    <div class="widget" *ngFor="let w of weather">
      <div class="details">
        <div class="temperature">{{w.wind.gust}}°</div>
        <div class="summary">
          <p class="summaryText">{{w.name}} - {{w.weather[0].main}}</p>
          <p class="summaryText">{{hours}}</p>
        </div>
        <div class="precipitation">Precipitation : {{w.main.humidity}}%</div>
        <div class="wind">Wind : {{w.wind.speed}}</div>
      </div>
      <div class="pictoBackdrop"></div>
      <div class="pictoFrame"></div>
      <div class="pictoCloudBig"></div>
      <div class="pictoCloudFill"></div>
      <div class="pictoCloudSmall"></div>
      <div class="iconCloudBig"></div>
      <div class="iconCloudFill"></div>
      <div class="iconCloudSmall"></div>
    </div>
  </div>
  